:root {
	--veryDarkBlue: hsl(233, 47%, 7%);
	--darkDesaturatedBlue: hsl(244, 38%, 16%);
	--softViolet: hsl(277, 64%, 61%);
	--white: hsl(0, 0%, 100%);
	--slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
	--slightlyMoreTransparentWhite: hsla(0, 0%, 100%, 0.6);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--veryDarkBlue);
	color: var(--white);
	border-radius: 3%;
	width: 80%;
	margin: 6em auto;
}

#fullContainer {
	display:flex;
	flex-flow: row-reverse nowrap;
	flex-direction: flex-start;
}

#imagen {
	width: 50%;
	margin: 1em 1em 1em 0;
	max-width: 100%;
	height: 75vh;
	background: url(../assets/image-header-desktop.jpg);
	background-size: cover;
	background-color: var(--softViolet);
	background-blend-mode: luminosity;
	border-top-right-radius: 3%;
	border-bottom-right-radius: 3%;
	filter: opacity(65%) contrast(90%);
}

.info {
	display: flex;
	flex-direction: column;
	margin: 1em 0 1em 1em;
	background-color: var(--darkDesaturatedBlue);
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	max-width: 50%;
	border-bottom-left-radius: 3%;
	border-top-left-radius: 3%;
}

strong {
	color: var(--softViolet);
}

.info h1 {
	font-size: 50px;
	margin: 3em 0 1em 2em;
	max-width: 70%;
}

#paragraph {
	font-size: 20px;
	line-height: 2em;
	font-weight: 400;
	max-width: 70%;
	margin-left: 5em;
	color: var(--slightlyTransparentWhite);
}

#infoData {
	display: flex;
	margin-left: 2em;
}

#infoData h1 {
	font-size: 35px;
}

.works {
	color: var(--slightlyMoreTransparentWhite);
	font-size: 18px;
	margin-left: 4em;
	font-weight: 400;
}

@media (max-width: 375px) {
	body {
		margin: 10px 25px;
	}

	#fullContainer {
		flex-flow: column nowrap;
	}

	#imagen {
		margin: 15px 15px 0 15px;
		width: 100%;
		height: 30vh;
		background: url(../assets/image-header-mobile.jpg);
		background-size: cover;
		background-color: var(--softViolet);
		background-blend-mode: luminosity;
		filter: opacity(65%) contrast(90%);
		border-top-left-radius: 3%;
		border-bottom-right-radius: 0;
	}

	.info {
		margin: 0 15px 0 15px;
		text-align: center;
		width: 21.8em;
		max-width: 100%;
		border-bottom-left-radius: 3%;
		border-bottom-right-radius: 3%;
		border-top-left-radius: 0;
	}

	#paragraph {
		font-size: 16px;
		line-height: 25px;
		max-width: 100%;
		position: relative;
		top: -3em;
		left: -2em;
	}

	.info h1 {
		font-size: 30px;
		position: relative;
		top: -1.6em;
	}

	#infoData {
		height: 30vh;
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	#infoData div{
		height: 10vh;
	}

	#infoData h1 {
		font-size: 30px;
		position: relative;
		top: -3em;
		left: -1.5em;
	}

	.works {
		font-size: 14px;
		position: relative;
		top: -8em;
		left: -3.3em;
	}
}
